services:

  db:
    image: mariadb:11.4
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - ./initdb.d:/docker-entrypoint-initdb.d:ro
      - data:/var/lib/mysql
    environment:
      MARIADB_DATABASE: ${DB_NAME:-nextcloud}
      MARIADB_USER: ${DB_USER:-nextcloud}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
      MARIADB_AUTO_UPGRADE: 1

  redis:
    image: redis:alpine
    volumes:
      - redis:/data

  app:
    image: nextcloud:32-fpm-alpine
    volumes:
      - ./php.ini:/usr/local/etc/php/conf.d/zz-local-php.ini:ro
      - html:/var/www/html
      - files:${FILES_MOUNT:-/var/www/html/data}
    environment:
      REDIS_HOST: redis
      MYSQL_HOST: db
      MYSQL_DATABASE: ${DB_NAME:-nextcloud}
      MYSQL_USER: ${DB_USER:-nextcloud}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TRUSTED_PROXIES: ${NGINX_TRUSTED_PROXIES:-10.0.0.0/8 172.17.0.0/12 192.168.0.0/16}
    depends_on:
      - db
      - redis
      - collabora

  web:
    image: nginx:1-alpine
    ports:
      - "${WEB_PORT:-8080}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - html:/var/www/html:ro
    depends_on:
      - app

  cron:
    image: nextcloud:32-fpm-alpine
    volumes:
      - ./php.ini:/usr/local/etc/php/conf.d/zz-local-php.ini
      - html:/var/www/html
      - files:${FILES_MOUNT:-/var/www/html/data}
    environment:
      REDIS_HOST: redis
      MYSQL_HOST: db
      MYSQL_DATABASE: ${DB_NAME:-nextcloud}
      MYSQL_USER: ${DB_USER:-nextcloud}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db
      - redis
    entrypoint: /cron.sh
    init: true

  collabora:
    image: collabora/code
    ports:
      - "${COLLABORA_PORT:-9980}:9980"
    volumes:
      - /usr/local/share/fonts/:/opt/collaboraoffice/share/fonts/truetype/local:ro
    environment:
      DONT_GEN_SSL_CERT: 1
      aliasgroup1: ${CODE_ALIASGROUP1}
      aliasgroup2: ${CODE_ALIASGROUP2}
      username: admin
      password: ${CODE_PASSWORD}
      extra_params: "--o:ssl.enable=false  --o:ssl.termination=true"

volumes:
  data:
  files:
  html:
  redis:

